body{
    background-color:rgb(215, 225, 238)
}
h3{
    font-family:"Outfit", sans-serif;
    position: absolute;
    top: 290px;
    left: 30px;
    right: 30px;
    text-align: center;
}
p{
    font-family:'Courier New', Courier, monospace;
    color: grey;
    position: absolute;
    top: 350px;
    left: 40px;
    right: 40px;
    text-align: center;
}
.QR{
    height: 490px;
    width: 300px;
    background-color: white;
    border-radius: 2%;
    position: relative;
    top: 50%;
    left: 40%;
}
img{
    height: 280px;
    width: 280px;
    border-radius: 2%;
    position: absolute;
    top: 10px;
    left: 10px;
}